@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background:url(img/brown-bamboo.jpg) no-repeat 50% 50%;
  background-size: cover;
  display: table;
  top: 0;
}

.intro .full {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1 {
  font-family: 'The Girl Next Door', cursive;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0;
}

.under-h1 {
  font-family: 'The Girl Next Door', cursive;
  font-weight: 700;
  color: oldlace;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.button {
  font-size: 1.25rem;
  font-family: 'The Girl Next Door', cursive;
  text-decoration: none;
  text-transform: uppercase;
  color: oldlace;
  border: 1px solid oldlace;
  padding: 0.25rem 0.5rem;
  background-color: yellowgreen;
  border-radius: 5px;
  opacity: 0.85;
}

.button:hover {
  color: darkolivegreen;
  border: 2px solid darkolivegreen;
}

.button:active {
  color: yellow;
}

@media (max-width: 768px) {
  h1 {
    font-size: 210%;
}
  .button {
    font-size: 110%;
}
  .under-h1 {
    font-size: 140%
}
}
