@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');


body {
  font-family: 'The Girl Next Door', cursive;
  color: Green;
}
body {
  padding-top: 2rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

p {
  color: yellow;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that float next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
