@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');

body {
  padding:20px;
  font-family: 'The Girl Next Door', cursive;
}

legend {
  text-transform: none;
  color: green;
  padding-top: 20px;
}

.container {
  background: whitesmoke;
}

.form-group {
  text-transform:uppercase;
  color: green;
}

.form-control {
  background: lightyellow;
}

.btn {
  color: lightyellow;
  background-color: green;
  border-color: green;
}
